  <div class="basicc-card">
    <a class="basicc" (click)="openModal()"> <i class="fas fa-plus"></i> ADD </a>
  </div>
  
  <div class="modal" *ngIf="isModalOpen">
    <div class="modal-content">
      <span class="close-btn" (click)="closeModal()">×</span>
      <form #blogForm="ngForm" (ngSubmit)="submitForm(blogForm)" class="form-container">
        <h2>Add New Country</h2>
  
        <div class="form-group">
          <label for="countryName">Country Name</label>
          <input
            id="countryName"
            [(ngModel)]="newCountry.country_name"
            name="country_name"
            required
            class="input-field"
          />
        </div>
  
        <div class="form-group">
          <label for="countryCode">Country Code</label>
          <input
            id="countryCode"
            [(ngModel)]="newCountry.country_code"
            name="country_code"
            required
            class="input-field"
          />
        </div>
  
        <div class="form-group">
          <label for="countryImage">Country Image</label>
          <input
            type="file"
            id="countryImage"
            (change)="onFileChange($event)"
            class="input-field"
          />
        </div>
  
        <div class="form-actions">
          <button type="submit" class="btn-submit">Add Country</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div
      *ngFor="let item of items; let i = index"
      class="basic-card m-2 basic-card-light"
    >
      <div class="card-content">
        <span class="card-title">{{ item.country_name }}</span>
        </div>
        <div class="card-text"> 
          
          <img [src]="item.imagePath" [alt]="item.country_code" />
        
      </div>
       
        <div *ngIf="isEditing !== i">
          <div class="card-link">
            <span>{{ item.country_code }}</span>
          </div>
        </div>
  
        <div class="card-actions">
          <button class="btn edit" (click)="openEditModal(item, i)">
            <i class="fas fa-edit"></i>
          </button>
          <button class="btn delete" (click)="deleteCard(i)">
            <i class="fas fa-trash"></i>
          </button>
        </div>
      </div>
    </div>

<ng-container *ngIf="isEditModalOpen">
  <country-details-edit [isEditModalOpen]="isEditModalOpen"; [countryDetails]="newCountry"; (closeEditPopup)="closeEditPopup($event)"></country-details-edit>
</ng-container>