.blog-table{
    table{
        max-width: 100%;
        overflow-x: scroll;
        th, td{
            padding: 10px 15px;
        }
        tr{
            border-bottom: 1px solid lightgray;
        }
        // thead{
        //     tr{
        //         background-color: #f4f4f4;
        //     }
        // }
        
        tbody{
            tr{
                td{
                    &:nth-child(2){
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    max-width: 350px;
                    img.blog-image {
                        max-width: 100%;
                        width:150px;
                    }
                }
            }
        }
    }
    @media (max-width:767.98px){
        display: none;
    }
    .view-all-link{
        a{
            padding: 10px 18px;
            border-radius: 50px;
            background-color: #d3081c;
            color: white;
        }
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 10px;
        
    }
    display: flex;
    flex-direction: column;
    align-items: center;   
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.blog-cards{
    @media (min-width:768px){
        display: none;
    } 
}