<div class="blog-table">
    <table class="col-sm-none col-md-none">
        <thead>
          <tr>
            <th class="text-center">Image</th>
            <th class="text-center">Title</th>
            <th class="text-center">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of blogsList; let i = index;">
            <td><img [src]="item.image" [alt]="item.image" class="blog-image" /></td>
            <td>{{ item.title }}</td>
            <td>{{ item.description | slice:0:100 }}...</td>
          </tr>
        </tbody>
      </table>
      <div class="view-all-link mt-3">
        <a routerLink="/blog">
            View All          
        </a>
      </div>
</div>


  <div class="row blog-cards">
    <ng-container *ngFor="let item of blogsList">
    <div class="col-sm-12 col-md-none mt-3">
        <div class="card">
            <div class="card-content">
                <div class="img-fluid">
                    <img [src]="item.image" [alt]="item.image" class="blog-image w-100" />
                </div>
                <div class="title">
                    <h5>{{item.title}}</h5>
                </div>
                <div class="description">
                    <p>{{ item.description | slice:0:200 }}</p>
                    <a routerLink="/blog" style="color: #624ed3;">
                        View More          
                    </a>
                </div>
            </div>
        </div>
    </div>
    </ng-container>
  </div>