.inquiry-form {
  width: 50%;
  background: #970c10;
  padding: 20px;
  border-radius: 5px;
  color: white;
}

.inquiry-form h2 {
  margin-top: 0;
  color: white;
}

.inquiry-form label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

.inquiry-form input,
.inquiry-form select,
.inquiry-form textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px;
  border: none;
  border-radius: 5px;
}

.inquiry-form textarea {
  height: 80px;
  resize: vertical;
}

.inquiry-form button {
  width: 100%;
  padding: 10px;
  background: #142d4c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
