<div class="inquiry-form">
  <h2>ENQUIRY NOW</h2>
  <form id="enquiryForm">
    <label for="heading1">Country:</label>
    <select name="country">
      <pre>{{ countries | json }}</pre>
      <option
        *ngFor="let country of countries"
        [selected]="countryCode === country.country_code"
        [value]="country.country_code"
      >
        {{ country.country_name }}
      </option>
    </select>

    <label for="heading1">Heading 1:</label>
    <input
      type="text"
      id="heading1"
      name="heading1"
      placeholder="Enter your text"
      required
    />

    <label for="content1">Content 1:</label>
    <textarea
      id="content1"
      name="content1"
      placeholder="Enter your message"
      required
    ></textarea>

    <label for="heading2">Heading 2:</label>
    <input
      type="text"
      id="heading2"
      name="heading2"
      placeholder="Enter your text"
      required
    />

    <label for="content2">Content 2:</label>
    <textarea
      id="content2"
      name="content2"
      placeholder="Enter your message"
      required
    ></textarea>

    <label for="file1">Upload File:</label>
    <input type="file" id="file1" name="file1" />

    <label for="file2">Upload File:</label>
    <input type="file" id="file2" name="file2" />

    <label for="file3">Upload File:</label>
    <input type="file" id="file3" name="file3" />

    <button type="submit">SUBMIT</button>
  </form>
</div>
