<div class="container-fluid ">
 
  <div
    class="row h-100 align-items-center justify-content-center"
    style="min-height: 100vh"
  >
    <div class="col-12 col-sm-8 col-md-6 col-lg-5 ">
      <div class="bg-light rounded  my-4 mx-3">
        <div class="d-flex align-items-center justify-content-between mb-3">
          <a href="index.html" class="">
            <h3 class="text-primary">
              <img class="img-fluid" src="../../assets/images/logo.svg" />
            </h3>
          </a>
        </div>
        <h3>Admin Sign Up</h3>

        <!-- Username Field -->
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="floatingText"
            [(ngModel)]="userData.username"
          />
          <label for="floatingText">Username</label>
        </div>

        <!-- Email Field -->
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            [(ngModel)]="userData.email"
          />
          <label for="floatingInput">Email address</label>
        </div>

        <!-- Password Field -->
        <div class="form-floating mb-4">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            [(ngModel)]="userData.password"
            name="password"
            placeholder="Password"
          />
          <label for="floatingPassword">Password</label>
        </div>

        <!-- Sign Up Button -->
        <button
          type="submit"
          class="btn btn-primary py-3 w-100 mb-4"
          style="
            background-color: #970c10;
            border-color: #970c10;
            box-shadow: none;
          "
          (click)="onSubmit()"
        >
          Sign Up
        </button>

        <!-- Redirect to Login -->
        <p class="text-center mb-0">
          Already have an Account?
          <a routerLink="/login" style="color: #970c10">Sign In</a>
        </p>

        <!-- Error Message -->
        <div
          *ngIf="errorMessage"
          class="error-message"
          style="color: rgb(233, 28, 28)"
        >
          {{ errorMessage }}
        </div>
      </div>
    </div>
  </div>
</div>
