<div class="card-section">
    <div class="section-title text-center d-flex justify-content-center">
        <h3>Countries</h3>
    </div>
    <app-card [items]="countriesList"></app-card>
</div>

<div class="blog-section">
    <div class="section-title text-center d-flex justify-content-center">
        <h3>Blogs</h3>
    </div>
  <dashborad-blogs></dashborad-blogs>
</div>

<div class="contact-section">
    <div class="section-title text-center d-flex justify-content-center">
        <h3>Contacts</h3>
    </div>
  <dashboard-contact></dashboard-contact>
</div>