<div class="app_form">
    <div class="inquiry-form">
      <h2>BLOG FORM</h2>
      <form id="enquiryForm">
        <!-- <label for="heading1">Country:</label>
        <select name="country">
          <option
            *ngFor="let country of countries"
            [selected]="countryCode === country.country_code"
            [value]="country.country_code"
          >
            {{ country.country_name }}
          </option>
        </select> -->
     
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>

        <!-- Date Input -->
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required>

        <!-- Description Input -->
        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="4" cols="50" required></textarea>

        <!-- Image Upload -->
        <label for="image">Upload Image:</label>
        <input type="file" id="image" name="image" accept="image/*" required>

        <label for="likes">Likes:</label>
        <input type="number" id="likes" name="likes" required>

        <button type="submit">SUBMIT</button>
      </form>
    </div>
    </div>