<div class="app_form">
  <div class="inquiry-form">
    <h2>BLOG FORM</h2>
    <form
      (submit)="submitBlog()"
      enctype="multipart/form-data"
      id="enquiryForm"
    >
      <!-- <label for="heading1">Country:</label>
        <select name="country">
          <option
            *ngFor="let country of countries"
            [selected]="countryCode === country.country_code"
            [value]="country.country_code"
          >
            {{ country.country_name }}
          </option>
        </select> -->

      <label for="title">Title:</label>
      <input type="text" id="title" name="title" [(ngModel)]="title" required />

      <!-- Date Input -->
      <label for="date">Date:</label>
      <input type="date" id="date" name="date" [(ngModel)]="date" required />

      <!-- Description Input -->
      <label for="description">Description:</label>
      <textarea
        id="description"
        name="description"
        rows="4"
        cols="50"
        [(ngModel)]="description"
        required
      ></textarea>

      <!-- Image Upload -->
      <label for="image">Upload Image:</label>
      <input
        type="file"
        id="image"
        name="image"
        accept="image/*"
        (change)="onFileChange($event)"
        required
      />

      <label for="likes">Likes:</label>
      <input
        type="number"
        id="likes"
        name="likes"
        [(ngModel)]="likes"
        required
      />

      <button type="submit">SUBMIT</button>
    </form>
  </div>
</div>
