<div class="sidebar pe-4 pb-3">
  <nav class="navbar bg-light navbar-light">
    <a routerLink="home" class="navbar-brand mx-4 mb-3">
      <img src="../../assets/images/logo.svg" />
    </a>
    <div class="d-flex align-items-center ms-4 mb-4">
      <div class="position-relative">
        <img
          class="rounded-circle"
          src=""
          alt=""
          style="width: 40px; height: 40px"
        />
        <div
          class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"
        ></div>
      </div>
      <div class="ms-3">
        <h6 class="mb-0">{{userName}}</h6>
      </div>
    </div>
    <div class="navbar-nav w-100">
      <a routerLink="home" routerLinkActive="active" class="nav-item nav-link"
        ><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a
      >
      <div class="nav-item dropdown">
        <a
          routerLinkActive="active"
          class="nav-link dropdown-toggle"
          data-bs-toggle="dropdown"
          ><i class="fa fa-laptop me-2"></i>Publications</a
        >
        <div class="dropdown-menu bg-transparent border-0">
          <a routerLinkActive="active" class="dropdown-item">Latest News</a>
          <a routerLinkActive="active" class="dropdown-item">News Letters</a>
          <a routerLinkActive="active" class="dropdown-item"
            >International comparision</a
          >
        </div>
      </div>
      <a routerLink="blog" routerLinkActive="active" class="nav-item nav-link"
        ><i class="fa fa-th me-2"></i>Blogs</a
      >
      <a routerLink="form" routerLinkActive="active" class="nav-item nav-link"
        ><i class="fa fa-keyboard me-2"></i>Forms</a
      >
      <a routerLink="contactus" routerLinkActive="active" class="nav-item nav-link"
        ><i class="fa fa-table me-2"></i>Contact Us</a
      >
      <a routerLink="maincontactus" routerLinkActive="active" class="nav-item nav-link"
        ><i class="fa fa-keyboard me-2"></i>MainContactUs</a
      >
      <!-- <a routerLink="home" class="nav-item nav-link"
        ><i class="fa fa-chart-bar me-2"></i>Charts</a
      > -->
      <!-- <div class="nav-item dropdown">
        <a
          routerLink="home"
          class="nav-link dropdown-toggle"
          data-bs-toggle="dropdown"
          ><i class="far fa-file-alt me-2"></i>Pages</a
        >
        <div class="dropdown-menu bg-transparent border-0">
          <a routerLink="home" class="dropdown-item">Sign In</a>
          <a routerLink="home" class="dropdown-item">Sign Up</a>
          <a routerLink="home" class="dropdown-item">404 Error</a>
          <a routerLink="home" class="dropdown-item">Blank Page</a>
        </div>
      </div> -->
    </div>
  </nav>
</div>
