<div class="app_form">
    <div class="inquiry-form">
      <h2>CONTACT US</h2>
      <form id="enquiryForm">
     
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
     

        <!-- Phone Input -->
        <label for="phone">Phone:</label>
        <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
        <small>Format: 123-456-7890</small>
     

        <!-- Email Input -->
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
     

        <!-- Company Input -->
        <label for="company">Company:</label>
        <input type="text" id="company" name="company">
     

        <!-- Message Input -->
        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="4" cols="50" required></textarea>
     


      

        <button type="submit">SUBMIT</button>
      </form>
    </div>
    </div>